<!DOCTYPE html>
<div id="user_nav">
   <% if current_user %>
      <%= link_to "Edit profile", edit_user_path(:current) %>
      <%= link_to "Logout", user_session_path(current_user), method: :delete %>
   <% else %>
      <%= link_to "Register", new_user_path %>
      <%= link_to "Log in", new_user_session_path %>
   <% end %>
</div>
<div>
  <%= link_to "Main Menu", :controller => "welcome" %>
  <%= link_to "Threads", :controller => "forum_threads" %>
</div>
<html>
<head>
  <title>Forum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
